.mainPage {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    background-image: url('/public/images/pizzaBcg.png');
    background-size: cover;
    background-position: center center;
    text-align: center; 
    max-height: 30vh;
  }

.headerContent {
  
}

.headerDetail {
    margin-top: 0px;
    font-weight: 500;
}